
<%= form_for @supplement, :class => "form-group" do |f| %>
 <div class="form-group">
  <%= f.label :item_name, "Item:" %>
  <%= f.text_field :item_name, :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :amount, "Amount:" %>
  <%= f.text_field :amount, :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :item_cost, "Cost:" %>
  <%= f.text_field :item_cost, :class => "form-control"%>
</div>

<%#= hidden_field_tag :prescription_id, @prescription.id %>
<%= f.submit :type => "submit", :class => "btn btn-default"%>

<% end %>