<%= form_for @supplement do |f| %>
<p>
  <%= f.label :item_name, "Item:" %>
  <%= f.text_field :item_name %>
</p>

<p>
  <%= f.label :amount, "Amount:" %>
  <%= f.text_field :amount %>
</p>

<p>
  <%= f.label :item_cost, "Cost:" %>
  <%= f.text_field :item_cost %>
</p>

<%#= hidden_field_tag :prescription_id, @prescription.id %>
<%= f.submit %>

<% end %>