<%= form_for @invoice do |f| %>
<p>
<%= f.date_field :@invoice.appointment.appointment_date, :min => Date.today %>
<%= time_field_tag '@invoice.appointment[appointment_time]' %>
  </p>
  <p><%= f.label :@invoice.appotintment.practioner.practioner_id %>
<%= f.select :@invoice.appointment.practioner.practioner_id, Practioner.all.map{|practioner|[practioner.id.to_s + practioner.name, practioner.id]}, :include_blank => true %></p>

<p><%= f.label :@invoice.appoitnment.patient.patient_id %>
<%= f.select :@invoice.appointment.patient.patient_id, Patient.all.map{|patient|[patient.id.to_s + patient.f_name + patient.l_name, patient.id]}, :include_blank => true %></p>

<p><%=f.label :service, "Service" %>
<%= f.text_field :service %> </p>
<p>AUD: <%f.label :service_charge, "Consultation / service fee" %></p>

<%= f.submit %>
<% end %>