<h2>Prescription</h2>
<h3>Patient name: <%= @prescription.appointment.patient.name %></h3>
<p>
  Recommendation: <br>
  <%= @prescription.recommendation %>
</p>

<p>
  Dosage : <br>
   <%= @prescription.dosage %>
</p>

<p>
  Practioner name: <%= @prescription.appointment.practioner.name %> <br>
  Sign: <br>
  Date: <%= @prescription.appointment.appointment_date.strftime("%Y-%m-%d") %>
</p>

<p>
  Supplement list: <br>
  <% @prescription.prescription_supplements.each do |ps| %>
   Item name: <%= ps.supplement.item_name %><br>
  Amount of per bag:<%= ps.supplement.amount %> <br>
  Qty: <%= ps.qty %>
  <%#= @supplement.sub_total %>
  <% end %>
</p>

<%= link_to 'add supplement', new_prescription_supplement_path(:prescription_id => @prescription.id) %>

<%#= link_to 'Invoice', new_invoice_path(:prescription_id => @prescription.id)%>


