
<%= form_for @patient, :class => "form-group" do |f| %>
<div class="form-group">
  <%= f.label :f_name, "First name:" %>
  <%= f.text_field :f_name,:autofocus => true, :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :m_name, "Middle name:" %>
  <%= f.text_field :m_name,:autofocus => true, :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :l_name, "Last name:" %>
  <%= f.text_field :l_name,:autofocus => true, :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :title, "Title:" %>
  <%= f.text_field :title, :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :address, "Address (street, city, state):"%>
  <%= f.text_field :address, :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :postcode, "Postcode: "%>
  <%= f.text_field :postcode,  :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :dob, "Date of Birth" %>
  <%= f.text_field :dob, :placeholder => 'YYYY-MM-DD',  :class => "form-control"%>
</div>

<div class="form-group">
  <%= f.label :phone, "Phone number" %>
  <%= f.text_field :phone,  :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :mobile, "Mobile number" %>
  <%= f.text_field :mobile,  :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :occupation %>
  <%= f.text_field :occupation,  :class => "form-control" %>
</div>
<%= f.submit :type => "submit", :class => "btn btn-default"%>

<% end %>
