
<h2>Patient information ID#: <%= @patient.id %></h2>
<ul>
  <li><%= @patient.title + @patient.f_name + @patient.m_name + @patient.l_name if @patient.m_name%></li>
  <li><%= @patient.address + @patient.postcode%></li>
  <li><%= @patient.dob.strftime('%B %d %Y') if @patient.dob %></li>
  <li><%= @patient.phone %></li>
  <li><%= @patient.mobile %></li>
  <li><%= @patient.occupation %></li>
</ul>


