<%= form_for @appointment do |f| %>
  <div class="form-group">
    <%= f.date_field :appointment_date, :min => Date.today %>
    <%= time_field_tag 'appointment[appointment_time]' %>
  </div>

  <div class="form-group">
    <%= f.label :practioner_id %>
    <%= f.select :practioner_id, Practioner.all.map{|practioner|[practioner.id.to_s + practioner.name, practioner.id]}, :include_blank => true, :class =>'form-control input-lg' %>
  </div>

  <div class="form-group">
    <%= f.label :patient_id %>
    <%= f.select :patient_id, Patient.all.map{|patient|[patient.id.to_s + patient.f_name + patient.l_name, patient.id]}, :include_blank => true, :class =>'form-control input-lg' %>
  </div>

  <div class="">
    <label for="presecription">Prescription required</label>
    <select name="prescription" id="prescription" class="form-control">
      <option>Yes</option>
      <option>No</option>
    </select>
  </div>

  <div class="form-group">
    <%= f.label :notes, "Consultation note"%>
    <%= f.text_area :notes, :include_blank => true,  :class => "form-control", :rows => "3" %>
  </div>
  <div class="form-group">
    <%= f.submit "Update Appointment/Consultation"%>
  </div>
    <% end %>
