<h2>Appointments</h2>

<p>Appointment ID: <%= @appointment.id %><br>
Practioner ID: <%= @appointment.practioner_id %>
Practioner Name: <%= @appointment.practioner.name %><br>
Patient ID: <%= @appointment.patient_id%>
Patient Name: <%= @appointment.patient.name %><br>
Appointment date & time: <%= @appointment.appointment_date %></p>

