<!DOCTYPE html>
<html>
<head>
  <title>Practioner start_up management system</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="container">
  <nav>
    <ul>
          <li><%= @current_user.try(:username) %></li>
          <li><%= link_to('Appointments', appointments_path) %></li>
          <li><%= link_to('Patients', patients_path) %></li>

            <%== smartnav %>

        </ul>
      </nav>

<%= yield %>
  </div>
</body>
<!-- this should go after your </body> -->
</html>
